<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>TemperatureC</th>
        <th>TemperatureF</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemsFiltered">
        <td>{{item.id}}</td>
        <td>{{item.date}}</td>
        <td>{{item.temperatureC}}</td>
        <td>{{item.temperatureF}}</td>
        <td>{{item.summary}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <!-- <td>Sum</td>
        <td>$180</td> -->
      </tr>


    </tfoot>
  </table>
  <srv-pagination [config]="pagination" (pageChanged)="pageChanged($event)" [pageSizes]="[5,10,15,20]" class="srv-pagination" [translation]="pagingSTranslation"></srv-pagination>

</div>
