<div class="container">
  <nav class="navbar navbar-light bg-light mb-5">
    <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          [(ngModel)]="filter"
          [ngModelOptions]="{ standalone: true }"
        />
        <button
          class="btn btn-outline-success"
          type="submit"
          (click)="Search()"
        >
          Search
        </button>
      </form>
    </div>
  </nav>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th lib-srv-sorting [name]="'TemperatureC'" (onSorting)="Sort($event)">
          TemperatureC
        </th>
        <th lib-srv-sorting [name]="'TemperatureF'" (onSorting)="Sort($event)">
          TemperatureF
        </th>
        <th>Summary</th>
        <th lib-srv-sorting [name]="'Region.Name'" (onSorting)="Sort($event)">
          Region
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemsFiltered">
        <td>{{ item.id }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.temperatureC }}</td>
        <td>{{ item.temperatureF }}</td>
        <td>{{ item.summary }}</td>
        <td>{{ item.region.name }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <!-- <td>Sum</td>
        <td>$180</td> -->
      </tr>
    </tfoot>
  </table>
  <lib-srv-pagination
    [config]="pagination"
    (pageChanged)="pageChanged($event)"
    [pageSizes]="[5, 10, 15, 20]"
    class="srv-pagination"
    [translation]="pagingSTranslation"
  ></lib-srv-pagination>
</div>
